* {
    box-sizing: border-box;
}

body {
    background: #201e1e;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    text-align: center;
}

.header {
    margin: 0px;
}
.header img{
    max-width: 70px;
    max-height: 70px;
    vertical-align: text-bottom;
}

h1 {
    font-size: 70px;
    text-transform: uppercase;
    vertical-align: baseline;
}

h2 {
    margin-left: 10px;
    text-align: left;
    font-size: 2.5vmin;
}

h3 {
    line-height:normal;
    text-align:left;
    font-size: 2.3vmin;
} 

p {
    text-align: left;
    line-height: 150%;
    font-size: 2.0vmin;
}

#search-form {
    text-align: center;
    margin: 20px 0;
}

#search-input {
    width: 250px;
    margin-right: 10px;
    align-items: center;
}

.search-btn {
    background: black;
    padding:  4px 30px;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.search-btn img {
    margin-left: 10px;
    width: auto;
    height: 10px;
}


#movies-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

.movie-card {
    flex: 0 0 25%;
    padding: 10px;
    width: 15px;
    height: auto;
    justify-content: left;
}

.movie-card img{
    width: 100%;
    transition: 200ms ease-in-out;
}

.popup-container {
 background-color: rgb(255, 255, 255, 0.92);
 opacity: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 position: fixed;
 top: 0;
 left: 0;
 height: 100vh;
 width: 100vw;
 pointer-events: none;
 flex-wrap: wrap;
}

.popup-container.show {
    display: flexbox;
    pointer-events: auto;
    opacity: 1;
}

.popup {
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 6px;
    color: black;
}

.close-popup {
    padding: 5px;
}

.backdrop-poster{
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.movie-poster:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
}